/* using heading classes
    for heading : class="h2"
    for sub heading heading : class="h4"
    for white text : class="text-light"

*/
@import "./core/variables";
@import "./core/mixins";
@import "./core/allCore";
@import "./common/allCommon";
@import "./services/employee/allEmployee";
@import "./services/hradmin/allHrAdmin";
@import "./common/sideMenu";


.pageBody{
    margin: 8px -8px;
    padding: 24px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    // width: 80vw;
}