.EventCardWrapper {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25), 0px 1px 1px rgba(0, 0, 0, 0.25);
	border-radius: 16px;
	min-width: 320px;
	max-width: 320px;
	min-height: 240px;
	max-height: 320px;
	overflow-y: scroll;
	
	.heading {
		color: white;
		background-color: #05454e;
		padding: 12px;
		border-radius: 16px 16px 0px 0px;
		text-align: center;
	}

	.body{padding: 16px;}
}
