.FormProcessorWrapper {
	min-width: 300px;
	label {
		margin: 8px 0px;
	}
	.DropDownWrapper {
		display: flex;
		flex-direction: column;
		margin: 16px 0px;
		select {
			padding: 8px 8px;
			border: 1px solid black;
			border-radius: 8px;
			background-color: white;
			outline: none;
            color: grey;

			option {
				padding: 8px;
				border: 1px red solid;
			}
		}
	}

	.InputWrapper {
		display: flex;
		flex-direction: column;
		margin: 16px 0px;

		input {
			outline: none;
			padding: 8px 8px;
			border: 1px solid black;
			border-radius: 8px;
		}
	}

	.FileUploadWrapper{
		display: flex;
		flex-direction: column;
	}
}
