@import "../core/allCore";

/* modal-start */

button {
  &:focus-visible {
    outline: none;
  }
}

.modal-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  .modal-content {
    margin: 0 auto;
    max-width: 680px;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 50px 55px;

    .modal-title {
      font-size: $large-heading;
      font-weight: 400;
    }

    .modal-header {
      border-bottom: 4px solid $main-color;
      margin: 0 55px;
      padding: 10px;
      justify-content: center;
    }
  }

  .modal-body {
    padding: 40px 0;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    max-width: 680px;
    background-color: #ffffff;
    border-radius: 8px;
  }

  .btn-close {
    position: absolute;
    top: 24px;
    right: 25px;
    font-size: 6px;
    border: 1px solid $black-color;
    border-radius: 50px;
    color: $black-color !important;
    padding: 5px !important;

    &:focus {
      box-shadow: none;
    }
  }

  .popup-label {
    .row {
      row-gap: 30px;
    }

    .form-label {
      margin-right: 25px;
    }

    .check-input {
      margin-top: 6px;

      &:first-child {
        margin-top: 0;
      }

      input {
        margin-right: 10px;
      }
    }

    textarea {
      width: 100%;
      height: 130px;
      border: 1px solid $gray-color;
      border-radius: 8px;
      margin-top: 15px;
      padding: 10px;

      &:focus {
        outline: none;
      }
    }
  }

  .date-wrap {
    .main-label {
      margin-top: 20px;
      display: flex;
      align-items: center;
    }

    .form-label {
      color: $gray-color;
    }

    input {
      width: 100%;
      height: 50px;
      border: 1px solid $gray-color;
      border-radius: 5px;
      padding: 10px;
    }
  }
}

.common-btn {
  column-gap: 30px;
  flex-wrap: wrap;
  row-gap: 15px;
  padding: 0 40px 20px;
}

.main-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  min-width: 130px;
  height: 50px;
  color: $white-color;
  border: 1px solid $main-color;
  background-color: $main-color;
  border-radius: 10px;
  font-size: $medium-heading;
  transition: all 0.5s;

  &:hover {
    color: $main-color;
    background-color: $white-color;
  }
}

.main-cancel-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  min-width: 130px;
  height: 50px;
  color: $black-color;
  border: 1px solid $black-color;
  border-radius: 10px;
  font-size: $medium-heading;

  &:hover {
    color: $main-color;
  }
}

.modal-btns {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}