*{
    transition: all 0.2s;
}
.App{
    margin-top: 70px;
}
ul{
    margin:0 !important;
    padding: 0 !important;
    li{
        list-style: none;
    }
  }
  a{
    text-decoration: none !important;
  }
  p{
    margin:0 !important;
    padding: 0 !important;
  }
  body{
    padding: 0;
    margin: 0;
  }
.SideMenuWrapper{
    max-width: 300px;
    width: 100%;
    &.wraped{
        width: 70px;
        margin-right: 20px;
    }
    aside{
        background-color: #EDEEEE;
        max-width: 320px;
        height: 100vh;
        transition: all 0.3s;
        overflow-x: hidden;
        position: fixed;
        top: 70px;
        .subMenuIcon{
            position: absolute;
            right: 10px;
            top: 18px;
        }
        &.collapsed{
            max-width: 70px;
            li{
                span{
                    position: relative;
                    z-index: -1;
                }
            }
            .subMenuIcon{
                display: none;
            }
        }
    }
    .toggle{
        background-color: #19BD98;
        padding: 16px 24px;
        button{
            display: inline-block;
            all: unset;
        }
    }
    .menuItems{
        margin-top: 40px;
        li{
            position: relative;
            a{
                padding: 16px 24px;
                column-gap: 32px;
                display: flex;
                color: #111111;
                column-gap: 24px;
                &:hover{
                    background-color: $main-color;
                    color: $white-color;
                    svg{
                        fill: $white-color;
                    }
                }
            }
            ul{
                background-color: $white-color;
                &.menuItems{
                    margin-top: 0;
                    &.animated{
                        transition: all 0.5s;
                    }
                    
                }
               
                li{
                    a{
                        padding: 16px 24px;
                        column-gap: 32px;
                        display: flex;
                        color: #111111;
                        column-gap: 24px;
                    }
                }
            }
            // &:hover{
            //     background-color: $white-color;
            // }
        }
    }
}

.custom-scroll{
   ::-webkit-scrollbar-track
    {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
        // visibility: hidden;
    }
    ::-webkit-scrollbar
    {
        width: 5px;
        background-color: #F5F5F5;
        visibility: hidden;
    }
    ::-webkit-scrollbar-thumb
    {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: $main-color;
        visibility: hidden;
    }
    &:hover{
        ::-webkit-scrollbar-thumb,::-webkit-scrollbar, ::-webkit-scrollbar-track{
            visibility: visible;
        }
    }
}

