/* using heading classes
    for heading : class="h2"
    for sub heading heading : class="h4"
    for white text : class="text-light"

*/
@import '../../assets/fonts/fonts.css';
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

h4 {
  font-size: 32px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 16px;
}

.form-label {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
}

button,
.btn-close:focus {
  box-shadow: none;
}

.defaultButtonPrimary {
  border: 1px solid #777777;
  border-radius: 8px;
  padding: 16px 16px;
  display: flex;
  cursor: pointer;
  align-items: center;
  background-color: #05454E;
  color: white;
}

.defaultButtonWhite {
  border: 1px solid #777777;
  border-radius: 8px;
  padding: 16px 16px;
  display: flex;
  cursor: pointer;
  align-items: center;
  background-color: white;
}

.defaultButtonWhiteSm {
  border: 1px solid #777777;
  border-radius: 8px;
  padding: 8px 8px;
  display: flex;
  cursor: pointer;
  align-items: center;
  background-color: white;
}

.statusButtonSm {
  border: 2px solid #05454E;
  background-color: rgb(125, 240, 255);
  padding: 4px 16px;
  border-radius: 2px;
}

.approved {
  border-radius: 16px;
  padding: 4px 8px;
  color: white;
  max-width: fit-content;
  background-color: #19b034;
}

.declined {
  border-radius: 16px;
  padding: 4px 8px;
  color: white;
  max-width: fit-content;
  background-color: #f20f47;
}

.pending {
  border-radius: 16px;
  padding: 4px 8px;
  color: white;
  max-width: fit-content;
  background-color: #4547b1;
}

.approvedBtn {
  border-radius: 16px;
  padding: 4px 8px;
  color: white;
  max-width: fit-content;
  color: #19b034;
  border: 2px solid #19b034;
  cursor: pointer;
}
.approvedBtn:hover {
  background-color: #19b034;
  color: white;
}

.declinedBtn {
  border-radius: 16px;
  padding: 4px 8px;
  color: white;
  max-width: fit-content;
  color: #f20f47;
  border: 2px solid #f20f47;
  cursor: pointer;
}
.declinedBtn:hover {
  background-color: #f20f47;
  color: white;
}

.floatRight {
  display: flex;
  justify-content: flex-end;
  margin: 16px 0px;
}

.defaultButtonPrimary {
  border: 1px solid #777777;
  border-radius: 8px;
  padding: 16px 16px;
  display: flex;
  cursor: pointer;
  align-items: center;
  background-color: #05454E;
  color: white;
}

.defaultButtonWhite {
  border: 1px solid #777777;
  border-radius: 8px;
  padding: 16px 16px;
  display: flex;
  cursor: pointer;
  align-items: center;
  background-color: white;
}

.defaultButtonWhiteSm {
  border: 1px solid #777777;
  border-radius: 8px;
  padding: 8px 8px;
  display: flex;
  cursor: pointer;
  align-items: center;
  background-color: white;
}

.statusButtonSm {
  border: 2px solid #05454E;
  background-color: rgb(125, 240, 255);
  padding: 4px 16px;
  border-radius: 2px;
}

.approved {
  border-radius: 16px;
  padding: 4px 8px;
  color: white;
  max-width: fit-content;
  background-color: #19b034;
}

.declined {
  border-radius: 16px;
  padding: 4px 8px;
  color: white;
  max-width: fit-content;
  background-color: #f20f47;
}

.pending {
  border-radius: 16px;
  padding: 4px 8px;
  color: white;
  max-width: fit-content;
  background-color: #4547b1;
}

.approvedBtn {
  border-radius: 16px;
  padding: 4px 8px;
  color: white;
  max-width: fit-content;
  color: #19b034;
  border: 2px solid #19b034;
  cursor: pointer;
}
.approvedBtn:hover {
  background-color: #19b034;
  color: white;
}

.declinedBtn {
  border-radius: 16px;
  padding: 4px 8px;
  color: white;
  max-width: fit-content;
  color: #f20f47;
  border: 2px solid #f20f47;
  cursor: pointer;
}
.declinedBtn:hover {
  background-color: #f20f47;
  color: white;
}

.floatRight {
  display: flex;
  justify-content: flex-end;
  margin: 16px 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

h4 {
  font-size: 32px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 16px;
}

.form-label {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
}

button,
.btn-close:focus {
  box-shadow: none;
}

.iconBlackArrowLeft {
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  margin: 0px 8px;
  background-image: url("../../assets/images/arrowRight.svg");
}

.iconBlackArrowRight {
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  margin: 0px 8px;
  background-image: url("../../assets/images/arrowLeft.svg");
}

.iconBlackArrowDown {
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  margin: 0px 8px;
  background-image: url("../../assets/images/arrowDown.svg");
}

.iconBlackSearch {
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  margin: 0px 8px;
  background-image: url("../../assets/images/searchBlack.svg");
}

.iconBlackBack {
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
  margin: 0px 8px;
  background-image: url("../../assets/images/arrow_back_black.svg");
}

.CollectionListWrapper {
  padding: 16px;
  width: 100%;
  font-size: 14px;
}
.CollectionListWrapper table {
  width: 80vw;
}
.CollectionListWrapper table tr.tableHead {
  padding: 2px;
  background-color: #e7e7e7;
  border-radius: 16px;
}
.CollectionListWrapper table tr.tableHead td {
  padding: 16px;
  margin-bottom: 16px;
}
.CollectionListWrapper table .tableBody {
  background-color: #f7f7f7;
}
.CollectionListWrapper table .tableBody tr {
  padding: 8px;
}
.CollectionListWrapper table .tableBody tr td {
  padding: 16px;
}

.EventCardWrapper {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25), 0px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  min-width: 320px;
  max-width: 320px;
  min-height: 240px;
  max-height: 320px;
  overflow-y: scroll;
}
.EventCardWrapper .heading {
  color: white;
  background-color: #05454e;
  padding: 12px;
  border-radius: 16px 16px 0px 0px;
  text-align: center;
}
.EventCardWrapper .body {
  padding: 16px;
}

.PageHeaderWrapper {
  font-size: 32px;
}

.CollectionListWrapper {
  padding: 16px;
  width: 100%;
  font-size: 14px;
}
.CollectionListWrapper table {
  width: 80vw;
}
.CollectionListWrapper table tr.tableHead {
  padding: 2px;
  background-color: #e7e7e7;
  border-radius: 16px;
}
.CollectionListWrapper table tr.tableHead td {
  padding: 16px;
  margin-bottom: 16px;
}
.CollectionListWrapper table .tableBody {
  background-color: #f7f7f7;
}
.CollectionListWrapper table .tableBody tr {
  padding: 8px;
}
.CollectionListWrapper table .tableBody tr td {
  padding: 16px;
}

.EventCardWrapper {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25), 0px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  min-width: 320px;
  max-width: 320px;
  min-height: 240px;
  max-height: 320px;
  overflow-y: scroll;
}
.EventCardWrapper .heading {
  color: white;
  background-color: #05454e;
  padding: 12px;
  border-radius: 16px 16px 0px 0px;
  text-align: center;
}
.EventCardWrapper .body {
  padding: 16px;
}

* {
  transition: all 0.2s;
}

.App {
  margin-top: 70px;
}

ul {
  margin: 0 !important;
  padding: 0 !important;
}
ul li {
  list-style: none;
}

a {
  text-decoration: none !important;
}

p {
  margin: 0 !important;
  padding: 0 !important;
}

body {
  padding: 0;
  margin: 0;
}

.SideMenuWrapper {
  max-width: 300px;
  width: 100%;
}
.SideMenuWrapper.wraped {
  width: 70px;
  margin-right: 20px;
}
.SideMenuWrapper aside {
  background-color: #EDEEEE;
  max-width: 320px;
  height: 100vh;
  transition: all 0.3s;
  overflow-x: hidden;
  position: fixed;
  top: 70px;
}
.SideMenuWrapper aside .subMenuIcon {
  position: absolute;
  right: 10px;
  top: 18px;
}
.SideMenuWrapper aside.collapsed {
  max-width: 70px;
}
.SideMenuWrapper aside.collapsed li span {
  position: relative;
  z-index: -1;
}
.SideMenuWrapper aside.collapsed .subMenuIcon {
  display: none;
}
.SideMenuWrapper .toggle {
  background-color: #19BD98;
  padding: 16px 24px;
}
.SideMenuWrapper .toggle button {
  display: inline-block;
  all: unset;
}
.SideMenuWrapper .menuItems {
  margin-top: 40px;
}
.SideMenuWrapper .menuItems li {
  position: relative;
}
.SideMenuWrapper .menuItems li a {
  padding: 16px 24px;
  column-gap: 32px;
  display: flex;
  color: #111111;
  column-gap: 24px;
}
.SideMenuWrapper .menuItems li a:hover {
  background-color: #05454E;
  color: #ffffff;
}
.SideMenuWrapper .menuItems li a:hover svg {
  fill: #ffffff;
}
.SideMenuWrapper .menuItems li ul {
  background-color: #ffffff;
}
.SideMenuWrapper .menuItems li ul.menuItems {
  margin-top: 0;
}
.SideMenuWrapper .menuItems li ul.menuItems.animated {
  transition: all 0.5s;
}
.SideMenuWrapper .menuItems li ul li a {
  padding: 16px 24px;
  column-gap: 32px;
  display: flex;
  color: #111111;
  column-gap: 24px;
}

.custom-scroll ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}
.custom-scroll ::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5;
  visibility: hidden;
}
.custom-scroll ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #05454E;
  visibility: hidden;
}
.custom-scroll:hover ::-webkit-scrollbar-thumb, .custom-scroll:hover ::-webkit-scrollbar, .custom-scroll:hover ::-webkit-scrollbar-track {
  visibility: visible;
}

.defaultButtonPrimary {
  border: 1px solid #777777;
  border-radius: 8px;
  padding: 16px 16px;
  display: flex;
  cursor: pointer;
  align-items: center;
  background-color: #05454E;
  color: white;
}

.defaultButtonWhite {
  border: 1px solid #777777;
  border-radius: 8px;
  padding: 16px 16px;
  display: flex;
  cursor: pointer;
  align-items: center;
  background-color: white;
}

.defaultButtonWhiteSm {
  border: 1px solid #777777;
  border-radius: 8px;
  padding: 8px 8px;
  display: flex;
  cursor: pointer;
  align-items: center;
  background-color: white;
}

.statusButtonSm {
  border: 2px solid #05454E;
  background-color: rgb(125, 240, 255);
  padding: 4px 16px;
  border-radius: 2px;
}

.approved {
  border-radius: 16px;
  padding: 4px 8px;
  color: white;
  max-width: fit-content;
  background-color: #19b034;
}

.declined {
  border-radius: 16px;
  padding: 4px 8px;
  color: white;
  max-width: fit-content;
  background-color: #f20f47;
}

.pending {
  border-radius: 16px;
  padding: 4px 8px;
  color: white;
  max-width: fit-content;
  background-color: #4547b1;
}

.approvedBtn {
  border-radius: 16px;
  padding: 4px 8px;
  color: white;
  max-width: fit-content;
  color: #19b034;
  border: 2px solid #19b034;
  cursor: pointer;
}
.approvedBtn:hover {
  background-color: #19b034;
  color: white;
}

.declinedBtn {
  border-radius: 16px;
  padding: 4px 8px;
  color: white;
  max-width: fit-content;
  color: #f20f47;
  border: 2px solid #f20f47;
  cursor: pointer;
}
.declinedBtn:hover {
  background-color: #f20f47;
  color: white;
}

.floatRight {
  display: flex;
  justify-content: flex-end;
  margin: 16px 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

h4 {
  font-size: 32px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 16px;
}

.form-label {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
}

button,
.btn-close:focus {
  box-shadow: none;
}

.iconBlackArrowLeft {
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  margin: 0px 8px;
  background-image: url("../../assets/images/arrowRight.svg");
}

.iconBlackArrowRight {
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  margin: 0px 8px;
  background-image: url("../../assets/images/arrowLeft.svg");
}

.iconBlackArrowDown {
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  margin: 0px 8px;
  background-image: url("../../assets/images/arrowDown.svg");
}

.iconBlackSearch {
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  margin: 0px 8px;
  background-image: url("../../assets/images/searchBlack.svg");
}

.iconBlackBack {
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
  margin: 0px 8px;
  background-image: url("../../assets/images/arrow_back_black.svg");
}

/* modal-start */
button:focus-visible {
  outline: none;
}

.modal-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-wrapper .modal-content {
  margin: 0 auto;
  max-width: 680px;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 40px;
}
.modal-wrapper .modal-content .modal-title {
  font-size: 32px;
  font-weight: 400;
}
.modal-wrapper .modal-content .modal-header {
  margin: 0 55px;
  padding: 10px;
  justify-content: center;
}
.modal-wrapper .modal-body {
  padding: 40px 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  max-width: 680px;
  background-color: #ffffff;
  border-radius: 8px;
}
.modal-wrapper .btn-close {
  position: absolute;
  top: 24px;
  right: 25px;
  font-size: 6px;
  border: 1px solid #000000;
  border-radius: 50px;
  color: #000000 !important;
  padding: 5px !important;
}
.modal-wrapper .btn-close:focus {
  box-shadow: none;
}
.modal-wrapper .popup-label .row {
  row-gap: 30px;
}
.modal-wrapper .popup-label .form-label {
  margin-right: 25px;
}
.modal-wrapper .popup-label .check-input {
  margin-top: 6px;
}
.modal-wrapper .popup-label .check-input:first-child {
  margin-top: 0;
}
.modal-wrapper .popup-label .check-input input {
  margin-right: 10px;
}
.modal-wrapper .popup-label textarea {
  width: 100%;
  height: 130px;
  border: 1px solid #777777;
  border-radius: 8px;
  margin-top: 15px;
  padding: 10px;
}
.modal-wrapper .popup-label textarea:focus {
  outline: none;
}
.modal-wrapper .date-wrap .main-label {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.modal-wrapper .date-wrap .form-label {
  color: #777777;
}
.modal-wrapper .date-wrap input {
  width: 100%;
  height: 50px;
  border: 1px solid #777777;
  border-radius: 5px;
  padding: 10px;
}

.common-btn {
  column-gap: 30px;
  flex-wrap: wrap;
  row-gap: 15px;
  padding: 0 40px 20px;
}

.main-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  min-width: 130px;
  height: 50px;
  color: #ffffff;
  border: 1px solid #05454E;
  background-color: #05454E;
  border-radius: 10px;
  font-size: 24px;
  transition: all 0.5s;
}
.main-btn:hover {
  color: #05454E;
  background-color: #ffffff;
}

.main-cancel-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  min-width: 130px;
  height: 50px;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 10px;
  font-size: 24px;
}
.main-cancel-btn:hover {
  color: #05454E;
}

.modal-btns {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}

.DropDownWrapper {
  display: flex;
  flex-direction: column;
  margin: 16px 0px;
}
.DropDownWrapper select {
  padding: 8px 8px;
  border: 1px solid black;
  border-radius: 8px;
  background-color: white;
  outline: none;
  color: grey;
}
.DropDownWrapper select option {
  padding: 8px;
  border: 1px red solid;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
}
header .col-20 {
  column-gap: 20px;
}

.defaultButtonPrimary {
  border: 1px solid #777777;
  border-radius: 8px;
  padding: 16px 16px;
  display: flex;
  cursor: pointer;
  align-items: center;
  background-color: #05454E;
  color: white;
}

.defaultButtonWhite {
  border: 1px solid #777777;
  border-radius: 8px;
  padding: 16px 16px;
  display: flex;
  cursor: pointer;
  align-items: center;
  background-color: white;
}

.defaultButtonWhiteSm {
  border: 1px solid #777777;
  border-radius: 8px;
  padding: 8px 8px;
  display: flex;
  cursor: pointer;
  align-items: center;
  background-color: white;
}

.statusButtonSm {
  border: 2px solid #05454E;
  background-color: rgb(125, 240, 255);
  padding: 4px 16px;
  border-radius: 2px;
}

.approved {
  border-radius: 16px;
  padding: 4px 8px;
  color: white;
  max-width: fit-content;
  background-color: #19b034;
}

.declined {
  border-radius: 16px;
  padding: 4px 8px;
  color: white;
  max-width: fit-content;
  background-color: #f20f47;
}

.pending {
  border-radius: 16px;
  padding: 4px 8px;
  color: white;
  max-width: fit-content;
  background-color: #4547b1;
}

.approvedBtn {
  border-radius: 16px;
  padding: 4px 8px;
  color: white;
  max-width: fit-content;
  color: #19b034;
  border: 2px solid #19b034;
  cursor: pointer;
}
.approvedBtn:hover {
  background-color: #19b034;
  color: white;
}

.declinedBtn {
  border-radius: 16px;
  padding: 4px 8px;
  color: white;
  max-width: fit-content;
  color: #f20f47;
  border: 2px solid #f20f47;
  cursor: pointer;
}
.declinedBtn:hover {
  background-color: #f20f47;
  color: white;
}

.floatRight {
  display: flex;
  justify-content: flex-end;
  margin: 16px 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

h4 {
  font-size: 32px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 16px;
}

.form-label {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
}

button,
.btn-close:focus {
  box-shadow: none;
}

.iconBlackArrowLeft {
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  margin: 0px 8px;
  background-image: url("../../assets/images/arrowRight.svg");
}

.iconBlackArrowRight {
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  margin: 0px 8px;
  background-image: url("../../assets/images/arrowLeft.svg");
}

.iconBlackArrowDown {
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  margin: 0px 8px;
  background-image: url("../../assets/images/arrowDown.svg");
}

.iconBlackSearch {
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  margin: 0px 8px;
  background-image: url("../../assets/images/searchBlack.svg");
}

.iconBlackBack {
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
  margin: 0px 8px;
  background-image: url("../../assets/images/arrow_back_black.svg");
}

.SearchBarWrapper {
  max-width: 495px;
}
.SearchBarWrapper input {
  outline: none;
  border: unset;
  min-width: 420px;
}

.FormProcessorWrapper {
  min-width: 300px;
}
.FormProcessorWrapper label {
  margin: 4px 0px;
  font-size: 14px;
}
.FormProcessorWrapper .nestedFlex {
  display: flex;
}
.FormProcessorWrapper .nestedFlex div {
  margin-right: 64px;
}
.FormProcessorWrapper .DropDownWrapper {
  display: flex;
  flex-direction: column;
  margin: 4px 0px;
}
.FormProcessorWrapper .DropDownWrapper select {
  padding: 8px 8px;
  border: 1px solid black;
  border-radius: 8px;
  background-color: white;
  outline: none;
  min-width: 320px;
  font-size: 14px;
  color: black;
}
.FormProcessorWrapper .DropDownWrapperDisabled {
  display: flex;
  flex-direction: column;
  margin: 4px 0px;
}
.FormProcessorWrapper .DropDownWrapperDisabled select {
  padding: 8px 8px;
  border-style: none;
  border-radius: 8px;
  background-color: #fafafa;
  outline: none;
  min-width: 320px;
  font-size: 14px;
  color: black;
}
.FormProcessorWrapper .InputWrapper {
  display: flex;
  flex-direction: column;
  margin: 4px 0px;
  min-width: 320px;
}
.FormProcessorWrapper .InputWrapper input {
  outline: none;
  padding: 8px 8px;
  border: 1px solid black;
  border-radius: 8px;
  font-size: 14px;
}
.FormProcessorWrapper .InputWrapper input::placeholder {
  color: rgb(218, 218, 218);
}
.FormProcessorWrapper .InputWrapperDisabled {
  display: flex;
  flex-direction: column;
  margin: 4px 0px;
  min-width: 320px;
}
.FormProcessorWrapper .InputWrapperDisabled input {
  outline: none;
  padding: 8px 8px;
  border-radius: 8px;
  font-size: 14px;
  border-style: unset;
}
.FormProcessorWrapper .InputWrapperDisabled input::placeholder {
  color: rgb(3, 3, 3);
}
.FormProcessorWrapper .FileUploadWrapper {
  display: flex;
  flex-direction: column;
}

.AttendanceEmployee span {
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
}
.AttendanceEmployee .col-30 {
  column-gap: 30px;
}
.AttendanceEmployee .dayStatus-btn {
  background-color: #05454E;
  border-color: #05454E;
}

.ProgressBar {
  height: 13px;
  width: 100%;
  background-color: #e0e0de;
  border-radius: 50px;
  max-width: 380px;
}

.defaultButtonPrimary {
  border: 1px solid #777777;
  border-radius: 8px;
  padding: 16px 16px;
  display: flex;
  cursor: pointer;
  align-items: center;
  background-color: #05454E;
  color: white;
}

.defaultButtonWhite {
  border: 1px solid #777777;
  border-radius: 8px;
  padding: 16px 16px;
  display: flex;
  cursor: pointer;
  align-items: center;
  background-color: white;
}

.defaultButtonWhiteSm {
  border: 1px solid #777777;
  border-radius: 8px;
  padding: 8px 8px;
  display: flex;
  cursor: pointer;
  align-items: center;
  background-color: white;
}

.statusButtonSm {
  border: 2px solid #05454E;
  background-color: rgb(125, 240, 255);
  padding: 4px 16px;
  border-radius: 2px;
}

.approved {
  border-radius: 16px;
  padding: 4px 8px;
  color: white;
  max-width: fit-content;
  background-color: #19b034;
}

.declined {
  border-radius: 16px;
  padding: 4px 8px;
  color: white;
  max-width: fit-content;
  background-color: #f20f47;
}

.pending {
  border-radius: 16px;
  padding: 4px 8px;
  color: white;
  max-width: fit-content;
  background-color: #4547b1;
}

.approvedBtn {
  border-radius: 16px;
  padding: 4px 8px;
  color: white;
  max-width: fit-content;
  color: #19b034;
  border: 2px solid #19b034;
  cursor: pointer;
}
.approvedBtn:hover {
  background-color: #19b034;
  color: white;
}

.declinedBtn {
  border-radius: 16px;
  padding: 4px 8px;
  color: white;
  max-width: fit-content;
  color: #f20f47;
  border: 2px solid #f20f47;
  cursor: pointer;
}
.declinedBtn:hover {
  background-color: #f20f47;
  color: white;
}

.floatRight {
  display: flex;
  justify-content: flex-end;
  margin: 16px 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

h4 {
  font-size: 32px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 16px;
}

.form-label {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
}

button,
.btn-close:focus {
  box-shadow: none;
}

.iconBlackArrowLeft {
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  margin: 0px 8px;
  background-image: url("../../assets/images/arrowRight.svg");
}

.iconBlackArrowRight {
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  margin: 0px 8px;
  background-image: url("../../assets/images/arrowLeft.svg");
}

.iconBlackArrowDown {
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  margin: 0px 8px;
  background-image: url("../../assets/images/arrowDown.svg");
}

.iconBlackSearch {
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  margin: 0px 8px;
  background-image: url("../../assets/images/searchBlack.svg");
}

.iconBlackBack {
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
  margin: 0px 8px;
  background-image: url("../../assets/images/arrow_back_black.svg");
}

.SearchBarWrapper {
  max-width: 495px;
}
.SearchBarWrapper input {
  outline: none;
  border: unset;
  min-width: 420px;
}

.FormProcessorWrapper {
  min-width: 300px;
}
.FormProcessorWrapper label {
  margin: 4px 0px;
  font-size: 14px;
}
.FormProcessorWrapper .nestedFlex {
  display: flex;
}
.FormProcessorWrapper .nestedFlex div {
  margin-right: 64px;
}
.FormProcessorWrapper .DropDownWrapper {
  display: flex;
  flex-direction: column;
  margin: 4px 0px;
}
.FormProcessorWrapper .DropDownWrapper select {
  padding: 8px 8px;
  border: 1px solid black;
  border-radius: 8px;
  background-color: white;
  outline: none;
  min-width: 320px;
  font-size: 14px;
  color: black;
}
.FormProcessorWrapper .DropDownWrapperDisabled {
  display: flex;
  flex-direction: column;
  margin: 4px 0px;
}
.FormProcessorWrapper .DropDownWrapperDisabled select {
  padding: 8px 8px;
  border-style: none;
  border-radius: 8px;
  background-color: #fafafa;
  outline: none;
  min-width: 320px;
  font-size: 14px;
  color: black;
}
.FormProcessorWrapper .InputWrapper {
  display: flex;
  flex-direction: column;
  margin: 4px 0px;
  min-width: 320px;
}
.FormProcessorWrapper .InputWrapper input {
  outline: none;
  padding: 8px 8px;
  border: 1px solid black;
  border-radius: 8px;
  font-size: 14px;
}
.FormProcessorWrapper .InputWrapper input::placeholder {
  color: rgb(218, 218, 218);
}
.FormProcessorWrapper .InputWrapperDisabled {
  display: flex;
  flex-direction: column;
  margin: 4px 0px;
  min-width: 320px;
}
.FormProcessorWrapper .InputWrapperDisabled input {
  outline: none;
  padding: 8px 8px;
  border-radius: 8px;
  font-size: 14px;
  border-style: unset;
}
.FormProcessorWrapper .InputWrapperDisabled input::placeholder {
  color: rgb(3, 3, 3);
}
.FormProcessorWrapper .FileUploadWrapper {
  display: flex;
  flex-direction: column;
}

.DropDownWrapper {
  display: flex;
  flex-direction: column;
  margin: 16px 0px;
}
.DropDownWrapper select {
  padding: 8px 8px;
  border: 1px solid black;
  border-radius: 8px;
  background-color: white;
  outline: none;
  color: grey;
}
.DropDownWrapper select option {
  padding: 8px;
  border: 1px red solid;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
}
header .col-20 {
  column-gap: 20px;
}

.defaultButtonPrimary {
  border: 1px solid #777777;
  border-radius: 8px;
  padding: 16px 16px;
  display: flex;
  cursor: pointer;
  align-items: center;
  background-color: #05454E;
  color: white;
}

.defaultButtonWhite {
  border: 1px solid #777777;
  border-radius: 8px;
  padding: 16px 16px;
  display: flex;
  cursor: pointer;
  align-items: center;
  background-color: white;
}

.defaultButtonWhiteSm {
  border: 1px solid #777777;
  border-radius: 8px;
  padding: 8px 8px;
  display: flex;
  cursor: pointer;
  align-items: center;
  background-color: white;
}

.statusButtonSm {
  border: 2px solid #05454E;
  background-color: rgb(125, 240, 255);
  padding: 4px 16px;
  border-radius: 2px;
}

.approved {
  border-radius: 16px;
  padding: 4px 8px;
  color: white;
  max-width: fit-content;
  background-color: #19b034;
}

.declined {
  border-radius: 16px;
  padding: 4px 8px;
  color: white;
  max-width: fit-content;
  background-color: #f20f47;
}

.pending {
  border-radius: 16px;
  padding: 4px 8px;
  color: white;
  max-width: fit-content;
  background-color: #4547b1;
}

.approvedBtn {
  border-radius: 16px;
  padding: 4px 8px;
  color: white;
  max-width: fit-content;
  color: #19b034;
  border: 2px solid #19b034;
  cursor: pointer;
}
.approvedBtn:hover {
  background-color: #19b034;
  color: white;
}

.declinedBtn {
  border-radius: 16px;
  padding: 4px 8px;
  color: white;
  max-width: fit-content;
  color: #f20f47;
  border: 2px solid #f20f47;
  cursor: pointer;
}
.declinedBtn:hover {
  background-color: #f20f47;
  color: white;
}

.floatRight {
  display: flex;
  justify-content: flex-end;
  margin: 16px 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

h4 {
  font-size: 32px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 16px;
}

.form-label {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
}

button,
.btn-close:focus {
  box-shadow: none;
}

.iconBlackArrowLeft {
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  margin: 0px 8px;
  background-image: url("../../assets/images/arrowRight.svg");
}

.iconBlackArrowRight {
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  margin: 0px 8px;
  background-image: url("../../assets/images/arrowLeft.svg");
}

.iconBlackArrowDown {
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  margin: 0px 8px;
  background-image: url("../../assets/images/arrowDown.svg");
}

.iconBlackSearch {
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  margin: 0px 8px;
  background-image: url("../../assets/images/searchBlack.svg");
}

.iconBlackBack {
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
  margin: 0px 8px;
  background-image: url("../../assets/images/arrow_back_black.svg");
}

.SearchBarWrapper {
  max-width: 495px;
}
.SearchBarWrapper input {
  outline: none;
  border: unset;
  min-width: 420px;
}

.FormProcessorWrapper {
  min-width: 300px;
}
.FormProcessorWrapper label {
  margin: 4px 0px;
  font-size: 14px;
}
.FormProcessorWrapper .nestedFlex {
  display: flex;
}
.FormProcessorWrapper .nestedFlex div {
  margin-right: 64px;
}
.FormProcessorWrapper .DropDownWrapper {
  display: flex;
  flex-direction: column;
  margin: 4px 0px;
}
.FormProcessorWrapper .DropDownWrapper select {
  padding: 8px 8px;
  border: 1px solid black;
  border-radius: 8px;
  background-color: white;
  outline: none;
  min-width: 320px;
  font-size: 14px;
  color: black;
}
.FormProcessorWrapper .DropDownWrapperDisabled {
  display: flex;
  flex-direction: column;
  margin: 4px 0px;
}
.FormProcessorWrapper .DropDownWrapperDisabled select {
  padding: 8px 8px;
  border-style: none;
  border-radius: 8px;
  background-color: #fafafa;
  outline: none;
  min-width: 320px;
  font-size: 14px;
  color: black;
}
.FormProcessorWrapper .InputWrapper {
  display: flex;
  flex-direction: column;
  margin: 4px 0px;
  min-width: 320px;
}
.FormProcessorWrapper .InputWrapper input {
  outline: none;
  padding: 8px 8px;
  border: 1px solid black;
  border-radius: 8px;
  font-size: 14px;
}
.FormProcessorWrapper .InputWrapper input::placeholder {
  color: rgb(218, 218, 218);
}
.FormProcessorWrapper .InputWrapperDisabled {
  display: flex;
  flex-direction: column;
  margin: 4px 0px;
  min-width: 320px;
}
.FormProcessorWrapper .InputWrapperDisabled input {
  outline: none;
  padding: 8px 8px;
  border-radius: 8px;
  font-size: 14px;
  border-style: unset;
}
.FormProcessorWrapper .InputWrapperDisabled input::placeholder {
  color: rgb(3, 3, 3);
}
.FormProcessorWrapper .FileUploadWrapper {
  display: flex;
  flex-direction: column;
}

.DropDownWrapper {
  display: flex;
  flex-direction: column;
  margin: 16px 0px;
}
.DropDownWrapper select {
  padding: 8px 8px;
  border: 1px solid black;
  border-radius: 8px;
  background-color: white;
  outline: none;
  color: grey;
}
.DropDownWrapper select option {
  padding: 8px;
  border: 1px red solid;
}

.tabs-wrapper .nav-pills {
  justify-content: center;
}
.tabs-wrapper .nav-pills .nav-item .nav-link {
  min-width: 250px;
  border-bottom: 4px solid transparent;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  color: #000000;
  font-size: 16px;
  transition: all 0.5s;
  font-weight: 500;
  background-color: transparent;
  border-radius: 0;
  text-align: center;
}
.tabs-wrapper .nav-pills .nav-item .nav-link:focus-visible {
  outline: none;
}
.tabs-wrapper .nav-pills .nav-item .nav-link.active {
  border-color: #2CB99A;
  color: #2CB99A;
  background-color: transparent;
}
.tabs-wrapper .nav-pills .nav-item:hover .nav-link {
  border-color: #2CB99A;
  color: #2CB99A;
}

.CardEmpHeaderWrapper {
  background-color: #EDEEEE;
  padding: 16px;
  border-radius: 8px;
  width: 100%;
}
.CardEmpHeaderWrapper .emp-head {
  display: flex;
  justify-content: space-between;
}
.CardEmpHeaderWrapper .emp-head h4 img {
  width: 20px;
  margin-left: 15px;
}
.CardEmpHeaderWrapper .emp-head img {
  cursor: pointer;
}
.CardEmpHeaderWrapper .emp-detail-wrap {
  display: flex;
  align-items: center;
  column-gap: 300px;
}
.CardEmpHeaderWrapper .emp-detail-wrap .emp-detail {
  display: flex;
  column-gap: 20px;
  align-items: center;
}
.CardEmpHeaderWrapper .emp-detail-wrap .emp-detail .emp-content p {
  color: #777777;
}
.CardEmpHeaderWrapper .emp-detail-wrap .emp-document {
  background-color: #ffffff;
  width: 450px;
  padding: 20px;
  height: 100%;
}
.CardEmpHeaderWrapper .emp-detail-wrap .emp-document ul {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.CardEmpHeaderWrapper .emp-detail-wrap .emp-document ul li {
  color: #777777;
}
.CardEmpHeaderWrapper .emp-detail-wrap .emp-document ul li span {
  padding-right: 20px;
}
.CardEmpHeaderWrapper .emp-detail-wrap .emp-document ul li a {
  text-decoration: underline !important;
}

.CollectionListWrapper {
  padding: 16px;
  width: 100%;
  font-size: 14px;
}
.CollectionListWrapper table {
  width: 80vw;
}
.CollectionListWrapper table tr.tableHead {
  padding: 2px;
  background-color: #e7e7e7;
  border-radius: 16px;
}
.CollectionListWrapper table tr.tableHead td {
  padding: 16px;
  margin-bottom: 16px;
}
.CollectionListWrapper table .tableBody {
  background-color: #f7f7f7;
}
.CollectionListWrapper table .tableBody tr {
  padding: 8px;
}
.CollectionListWrapper table .tableBody tr td {
  padding: 16px;
}

.ListCardWrapper {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 16px;
  padding: 16px;
  max-width: 460px;
}
.ListCardWrapper .title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
}
.ListCardWrapper .section {
  margin-bottom: 32px;
}
.ListCardWrapper .section .subheading {
  margin-bottom: 16px;
}
.ListCardWrapper .section .subheading hr {
  margin: 0.5rem;
}
.ListCardWrapper .section .profileThumbnails {
  display: flex;
  padding: 8px;
  border: 1px solid black;
  border-radius: 32px;
  width: min-content;
}
.ListCardWrapper .section .profileThumbnails .profileImgDiv img {
  width: 48px;
  cursor: pointer;
}
*, body {
  font-family: "Comfortaa";
}

.LeaveWrapper .NumCardsWrapper {
  display: flex;
}
.LeaveWrapper .NumCardsWrapper .card {
  min-width: 100px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 12px;
  margin-right: 24px;
}
.LeaveWrapper .NumCardsWrapper .card .num {
  font-size: 24px;
}

.HelpDeskWrapper .textBox {
  border: 1px solid black;
  border-radius: 16px;
  display: flex;
}
.HelpDeskWrapper .textBox input {
  margin: 16px;
  padding: 16px;
}
.HelpDeskWrapper .textBox .optionsRow {
  background-color: aliceblue;
  border-radius: 0px 16px 16px 0px;
}

.TeamTreeWrapper {
  display: flex;
}
.TeamTreeWrapper .mainNode {
  margin-left: 10px;
  border-left: 1px solid #271b91;
}
.TeamTreeWrapper .mainNode .node {
  border: 2px solid rgb(181, 252, 100);
  max-width: 200px;
  margin-bottom: 30px;
  padding: 8px;
}

.DashboardWrapper .greeting {
  font-size: 24px;
}
.DashboardWrapper .dashBody .happinessIndex {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 16px;
  padding: 16px;
  max-width: 460px;
}
.DashboardWrapper .dashBody .happinessIndex .emojiDiv {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-right: 24px;
}
.DashboardWrapper .dashBody .happinessIndex .emojiDiv .emoji {
  font-size: 48px;
  cursor: pointer;
}
.DashboardWrapper .dashBody .happinessIndex .emojiDiv:hover {
  transform: scale(1.2);
  color: rgb(2, 129, 129);
}
.DashboardWrapper .dashBody .happinessIndex .emojiDiv.happyIndex {
  border: 1px solid black;
  border-radius: 50%;
  padding: 24px;
}

.defaultButtonPrimary {
  border: 1px solid #777777;
  border-radius: 8px;
  padding: 16px 16px;
  display: flex;
  cursor: pointer;
  align-items: center;
  background-color: #05454E;
  color: white;
}

.defaultButtonWhite {
  border: 1px solid #777777;
  border-radius: 8px;
  padding: 16px 16px;
  display: flex;
  cursor: pointer;
  align-items: center;
  background-color: white;
}

.defaultButtonWhiteSm {
  border: 1px solid #777777;
  border-radius: 8px;
  padding: 8px 8px;
  display: flex;
  cursor: pointer;
  align-items: center;
  background-color: white;
}

.statusButtonSm {
  border: 2px solid #05454E;
  background-color: rgb(125, 240, 255);
  padding: 4px 16px;
  border-radius: 2px;
}

.approved {
  border-radius: 16px;
  padding: 4px 8px;
  color: white;
  max-width: fit-content;
  background-color: #19b034;
}

.declined {
  border-radius: 16px;
  padding: 4px 8px;
  color: white;
  max-width: fit-content;
  background-color: #f20f47;
}

.pending {
  border-radius: 16px;
  padding: 4px 8px;
  color: white;
  max-width: fit-content;
  background-color: #4547b1;
}

.approvedBtn {
  border-radius: 16px;
  padding: 4px 8px;
  color: white;
  max-width: fit-content;
  color: #19b034;
  border: 2px solid #19b034;
  cursor: pointer;
}
.approvedBtn:hover {
  background-color: #19b034;
  color: white;
}

.declinedBtn {
  border-radius: 16px;
  padding: 4px 8px;
  color: white;
  max-width: fit-content;
  color: #f20f47;
  border: 2px solid #f20f47;
  cursor: pointer;
}
.declinedBtn:hover {
  background-color: #f20f47;
  color: white;
}

.floatRight {
  display: flex;
  justify-content: flex-end;
  margin: 16px 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

h4 {
  font-size: 32px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 16px;
}

.form-label {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
}

button,
.btn-close:focus {
  box-shadow: none;
}

.iconBlackArrowLeft {
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  margin: 0px 8px;
  background-image: url("../../assets/images/arrowRight.svg");
}

.iconBlackArrowRight {
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  margin: 0px 8px;
  background-image: url("../../assets/images/arrowLeft.svg");
}

.iconBlackArrowDown {
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  margin: 0px 8px;
  background-image: url("../../assets/images/arrowDown.svg");
}

.iconBlackSearch {
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  margin: 0px 8px;
  background-image: url("../../assets/images/searchBlack.svg");
}

.iconBlackBack {
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
  margin: 0px 8px;
  background-image: url("../../assets/images/arrow_back_black.svg");
}

.MonthWiseAttendanceWrapper {
  margin-top: 16px;
  margin-left: 16px;
}
.MonthWiseAttendanceWrapper .filtersRow {
  display: flex;
  padding: 8px 0px;
  align-items: center;
}
.MonthWiseAttendanceWrapper .filtersRow div {
  margin-right: 24px;
}
.MonthWiseAttendanceWrapper .calendarSelect {
  display: flex;
  flex-direction: column;
}
.MonthWiseAttendanceWrapper .calendarSelect .head {
  display: flex;
  position: relative;
}
.MonthWiseAttendanceWrapper .calendarSelect .head .year {
  padding: 0px 8px;
}
.MonthWiseAttendanceWrapper .calendarSelect .months {
  flex-wrap: wrap;
  max-width: 250px;
  padding: 4px;
  position: absolute;
  background-color: white;
}
.MonthWiseAttendanceWrapper .calendarSelect .months .month {
  border: 1px solid #777777;
  border-radius: 8px;
  padding: 8px 16px;
  display: flex;
  cursor: pointer;
  margin: 4px;
}
.MonthWiseAttendanceWrapper .calendarSelect .months .month :hover {
  background-color: #05454E;
  color: white;
}
.MonthWiseAttendanceWrapper table {
  margin-top: 32px;
}
.MonthWiseAttendanceWrapper table tr th {
  border: 1px solid #777777;
  border-radius: 8px;
  padding: 8px 16px;
  background-color: rgba(25, 189, 152, 0.5);
  font-weight: normal;
  height: 64px;
}
.MonthWiseAttendanceWrapper table tr th.employeeHead {
  min-width: 200px;
  background-color: white;
  text-align: left;
}
.MonthWiseAttendanceWrapper table tr td {
  padding: 8px;
  text-align: center;
}
.MonthWiseAttendanceWrapper table tr td.employeeName {
  text-align: left;
}
.MonthWiseAttendanceWrapper table .RenderStatusInfoWrapper {
  position: relative;
}
.MonthWiseAttendanceWrapper table .RenderStatusInfoWrapper .hoverInfoBox {
  background-color: #05454E;
  color: white;
  padding: 16px;
  position: absolute;
  top: 5%;
  left: 100%;
  z-index: 100;
  min-width: 160px;
  text-align: left;
}

.PageCurrentEmpList {
  display: flex;
}
.PageCurrentEmpList .LoopWrapperCardCurrentEmp {
  display: flex;
  flex-wrap: wrap;
}
.PageCurrentEmpList .LoopWrapperCardCurrentEmp .CardCurrentEmpWrapper {
  position: relative;
  background: #ffffff;
  padding: 40px 20px;
  margin: 40px 0 25px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.231372549);
  min-width: 320px;
  margin: 64px 24px 0px 0px;
}
.PageCurrentEmpList .LoopWrapperCardCurrentEmp .CardCurrentEmpWrapper .empImage {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translate(-50%);
}
.PageCurrentEmpList .LoopWrapperCardCurrentEmp .CardCurrentEmpWrapper img {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  outline: 4px solid #05454E;
  outline-offset: 4px;
}
.PageCurrentEmpList .LoopWrapperCardCurrentEmp .CardCurrentEmpWrapper .cardHeading {
  font-size: 20px;
  color: #000000;
  margin: 16px 0 5px;
  display: inline-block;
}
.PageCurrentEmpList .LoopWrapperCardCurrentEmp .CardCurrentEmpWrapper h4 {
  font-size: 16px;
}
.PageCurrentEmpList .LoopWrapperCardCurrentEmp .CardCurrentEmpWrapper p {
  font-size: 16px;
}

* {
  transition: all 0.2s;
}

.App {
  margin-top: 70px;
}

ul {
  margin: 0 !important;
  padding: 0 !important;
}
ul li {
  list-style: none;
}

a {
  text-decoration: none !important;
}

p {
  margin: 0 !important;
  padding: 0 !important;
}

body {
  padding: 0;
  margin: 0;
}

.SideMenuWrapper {
  max-width: 300px;
  width: 100%;
}
.SideMenuWrapper.wraped {
  width: 70px;
  margin-right: 20px;
}
.SideMenuWrapper aside {
  background-color: #EDEEEE;
  max-width: 320px;
  height: 100vh;
  transition: all 0.3s;
  overflow-x: hidden;
  position: fixed;
  top: 70px;
}
.SideMenuWrapper aside .subMenuIcon {
  position: absolute;
  right: 10px;
  top: 18px;
}
.SideMenuWrapper aside.collapsed {
  max-width: 70px;
}
.SideMenuWrapper aside.collapsed li span {
  position: relative;
  z-index: -1;
}
.SideMenuWrapper aside.collapsed .subMenuIcon {
  display: none;
}
.SideMenuWrapper .toggle {
  background-color: #19BD98;
  padding: 16px 24px;
}
.SideMenuWrapper .toggle button {
  display: inline-block;
  all: unset;
}
.SideMenuWrapper .menuItems {
  margin-top: 40px;
}
.SideMenuWrapper .menuItems li {
  position: relative;
}
.SideMenuWrapper .menuItems li a {
  padding: 16px 24px;
  column-gap: 32px;
  display: flex;
  color: #111111;
  column-gap: 24px;
}
.SideMenuWrapper .menuItems li a:hover {
  background-color: #05454E;
  color: #ffffff;
}
.SideMenuWrapper .menuItems li a:hover svg {
  fill: #ffffff;
}
.SideMenuWrapper .menuItems li ul {
  background-color: #ffffff;
}
.SideMenuWrapper .menuItems li ul.menuItems {
  margin-top: 0;
}
.SideMenuWrapper .menuItems li ul.menuItems.animated {
  transition: all 0.5s;
}
.SideMenuWrapper .menuItems li ul li a {
  padding: 16px 24px;
  column-gap: 32px;
  display: flex;
  color: #111111;
  column-gap: 24px;
}

.custom-scroll ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}
.custom-scroll ::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5;
  visibility: hidden;
}
.custom-scroll ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #05454E;
  visibility: hidden;
}
.custom-scroll:hover ::-webkit-scrollbar-thumb, .custom-scroll:hover ::-webkit-scrollbar, .custom-scroll:hover ::-webkit-scrollbar-track {
  visibility: visible;
}

.pageBody {
  margin: 8px -8px;
  padding: 24px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/*# sourceMappingURL=all.css.map */
